@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
	--text-base: #ebebeb;
	--text-secondary: rgb(26, 26, 26);
	--text-emphasis: #38b6ff;
	--primary: #4b2220;
	--primary-black: #220f0d;
	--secondary: #ffffff;
	--golder: #c5aa7a;
	--whatsapp-color: #40c351;
	--image-section-01: "https://images.unsplash.com/photo-1431540015161-0bf868a2d407?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";
}

.about {
	display: flex;
	justify-content: right;
}

.about .container-wpp {
	justify-content: center;
}

.content-about {
	text-align: center;
    font-size: 130%;
	padding: 20px;
	width: 50%;
}

.content-about h1 {
	margin: 1rem 0;
	font-size: 3rem;
}

.content-about p {
	margin-bottom: 2rem;
}

.section-04 {
	background: var(--secondary);
    color: var(--primary);
}

.section-05 {
	background-color: var(--primary-black);
	display: flex;
	justify-content: center;
    align-items: center;
}

.content-section-05 {
	padding: 50px;
}

.content-section-05 h2 {
	font-size: 40px;
}

footer {
	text-align: center;
	width: 100%;
}

.logo-footer img {
	width: 200px;
	height: 200px;
}
