@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--text-base: #ebebeb;
    --text-secondary: rgb(26, 26, 26);
	--text-emphasis: #38b6ff;
	--primary: #4b2220;
    --primary-black: #220f0d;
	--secondary: #ffffff;
    --golder: #c5aa7a;
	--whatsapp-color: #40c351;
    --image-section-01: 'https://images.unsplash.com/photo-1431540015161-0bf868a2d407?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: #00000036;
}

::-webkit-scrollbar-thumb{
    background: var(--primary-black);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
    background: #524175d7;
}

html {
	background: var(--primary);
	color: var(--text-base);
	overflow-x: hidden;
    font-family: "Inria Sans", sans-serif;
    scroll-behavior: smooth;
}

.w-half {
    width: 50%;
}

body:nth-child(even){
	background: var(--primary);
}

body:nth-child(odd){
	background: var(--secondary);
	color: var(--text-secondary);
}

/* BOTAO DE WPP */
.button-wpp {
	transition: 0.2s;
	padding: 0.5rem 1rem;
	min-width: 35vw;
	letter-spacing: 3px;
	color: var(--text-base);
	font-size: calc(100vw / 60);
	font-weight: bold;
	text-decoration: none;
	background: var(--whatsapp-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 2rem;
	border: none;
}

.button-wpp span {
	display: block;
	text-align: center;
	width: 100%;
}

.button-wpp svg {
	transition: 0.2s;
	fill: white;
	height: 100%;
	width: 10%;
}

.button-wpp:hover {
	transform: scale(1.03);
	background: var(--text-base);
	color: var(--whatsapp-color);
}

.button-wpp:hover svg{
	fill: var(--whatsapp-color);;
}
/* FIM BOTAO DE WPP */

.section-01 {
    height: 500px;
    background-image: url('https://images.unsplash.com/photo-1431540015161-0bf868a2d407?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
	font-size: 2rem;
}

.filter {
	display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.700) 20%, #4b2220b4)
}

.container-need {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 50%;
	padding: 0 0 0 6%;
	justify-content: center;
	gap: 2rem;
}

.container-wpp {
	display: flex;
}

.container-need .button-wpp {
	border-radius: 8px;
}

.section-02 {
    background: var(--secondary);
    color: var(--text-secondary);
	padding: 0 0 2rem;
}

.section-02 .container-wpp, .button-wpp {
	justify-content: center;
	border-radius: 10px;
}

.cards-service {
	font-size: 110%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	padding: 0 1rem;
	margin: 0 0 2rem;
	color: var(--primary);
}

.services h1 {
	font-size: 3rem;
	text-transform: uppercase;
	padding: 1rem 0;
	text-align: center;
	color: var(--primary);
	border-bottom: 2px solid var(--golder);
}

.cards-service div {
	max-width: 30%;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1;
	padding: 1rem
}

.cards-service div p {
	color: rgb(97, 97, 97)
}

.cards-service div svg {
	width: 60px;
	height: 60px;
}

.section-04 .title {
	text-align: center;
	font-size: 2.5rem;
	padding: .5rem 0;
	border-bottom: 2px solid var(--golder);
}

.container-glide {
	display: flex;
	align-items: center;
	justify-content: center;
}