@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--text-base: #ebebeb;
    --text-secondary: rgb(26, 26, 26);
	--text-emphasis: #38b6ff;
	--primary: #4b2220;
    --primary-black: #220f0d;
	--secondary: #ffffff;
    --golder: #c5aa7a;
	--whatsapp-color: #40c351;
    --image-section-01: 'https://images.unsplash.com/photo-1431540015161-0bf868a2d407?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: #00000036;
}

::-webkit-scrollbar-thumb{
    background: var(--primary-black);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
    background: #524175d7;
}

html {
	background: var(--primary);
	color: var(--text-base);
	overflow-x: hidden;
    font-family: "Inria Sans", sans-serif;
    /* scroll-behavior: smooth; */
}

.w-half {
    width: 50%;
}

body:nth-child(even){
	background: var(--primary);
}

body:nth-child(odd){
	background: var(--secondary);
	color: var(--text-secondary);
}

/* BOTAO DE WPP */
.button-wpp {
	transition: 0.2s;
	padding: 0.5rem;
	letter-spacing: 3px;
	color: var(--text-base);
	font-weight: bold;
	text-decoration: none;
	background: var(--whatsapp-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 2rem;
	border: none;
}

.button-wpp span {
	display: block;
	text-align: center;
	width: 100%;
	margin: 0 .2rem 0 0
}

.button-wpp svg {
	transition: 0.2s;
	fill: white;
	height: 20px;
	width: 20px;
}

.button-wpp:hover {
	transform: scale(1.03);
	background: var(--text-base);
	color: var(--whatsapp-color);
}

.button-wpp:hover svg{
	fill: var(--whatsapp-color);;
}
/* FIM BOTAO DE WPP */

.section-01 {
    background-image: url('https://images.unsplash.com/photo-1431540015161-0bf868a2d407?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
}

.filter {
	min-height: 500px;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background: #3a1d1cf6;
	justify-content: center;
	align-items: center;
}

.filter .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1
}

.filter img {
	width: 80%;
	min-width: 200px;
	max-width: 400px;
}

.container-need h1 {
	font-size: 3.5rem;
}

.container-need {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 50%;
	padding: 0 0 0 6%;
	justify-content: center;
	gap: 2rem;
}

.w-half .container-need{
	display: flex;
  	justify-content: center;
  	align-items: center;
}


.container-wpp {
	display: flex;
}

.container-need .button-wpp {
	border-radius: 8px;
}

@media  screen and (max-width: 600px) {
	.section-01 {
		font-size: 1.5rem;
		text-align: center;
	}

	.filter {
		justify-content: center;
		align-items: center;
		width: 100%;
		
	}

	.container-need {
		text-align: center;
		width: 100%;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		padding: 0 0 0 0;
	}

	.w-half .container-need{
		text-align: center;
	}

	.button-wpp svg{
		display: none;
	}
	.button-wpp{
		padding: 10px;
	}

	.logo img{
		max-width: 50px ;
	}
}

.section-02 {
    background: var(--secondary);
    color: var(--text-secondary);
	padding: 0 0 2rem;
}

.section-02 .container-wpp, .button-wpp {
	justify-content: center;
	border-radius: 10px;
}

.cards-service {
	font-size: 110%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	padding: 0 1rem;
	margin: 0 0 2rem;
	color: var(--primary);
}

.services h1 {
	font-size: 3rem;
	text-transform: uppercase;
	padding: 1rem 0;
	text-align: center;
	color: var(--primary);
	/* border-bottom: 2px solid var(--golder); */
}

.cards-service div {
	max-width: 30%;
	min-width: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1;
	padding: 1rem
}

.cards-service div p {
	color: rgb(97, 97, 97)
}

.cards-service div svg {
	width: 60px;
	height: 60px;
}

.section-04 .title {
	text-align: center;
	font-size: 3rem;
	padding: 1rem 0;
	/* border-bottom: 2px solid var(--golder); */
}

.container-glide {
	display: flex;
	align-items: center;
	justify-content: center;
}


strong{
    color: var(--golder);
}

.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem 0;
}

.about .container-wpp {
	justify-content: center;
}

.about .img-advogado {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-advogado img {
	max-width: 400px;
	min-width: 350px;
}

.content-about {
	flex: 1;
	text-align: center;
    font-size: 130%;
	padding: 20px;
}

@media screen {
	
}

.content-about h1 {
	margin: 1rem 0;
	font-size: 3rem;
}

.content-about p {
	margin-bottom: 2rem;
}

.section-04 {
	background: var(--secondary);
    color: var(--primary);
}

.section-05 {
	background-color: var(--primary);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
}

.content-section-05 {
	padding: 2rem;
}

.content-section-05 h2 {
	font-size: 40px;
}

.section-06{
	width: 100%;
}

.section-06 h1{
	text-align: center;
	margin: 1rem 0;
	font-size: 3rem
}

.info{
    display: flex;
    justify-content: center;
	padding: 3rem;
	gap: 1rem;
	flex-wrap: wrap;
}

.logo-footer {
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.info img {
	width: 100%;
	max-width: 400px;
	min-width: 200px;
}

.info div {
	flex: 1;
	text-align: center;
}

iframe {
	width: 100%;
	min-width: 300px;
}

.address p {
	height: 100%;
	font-size: 135%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

footer{
	background-color: var(--primary-black);
	text-align: center;
	padding: 1rem;
}

@media  screen and (max-width: 480px) {
	.section-02 .title {
		font-size: 2.5rem;
	}

	.section-04 .title {
		font-size: 2.5rem;
	}
}

@media  screen and (max-width: 930px) {
	.section-05 {
		text-align: center;
	}

	.section-05 .container-wpp {
		padding-bottom: 2rem
	}

	.glide__slide img {
		width: 100%;
	}
}